@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Remove default arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none !important;
    padding-right: 0.75rem;
    /* keep spacing clean */
}